<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}
    
    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div id="header">
                <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
                {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
            </div>
            
            <div class="module module-nav">
                <ul class="unstyled">
                    <li><a href="{{ get_url() }}">Blog</a></li>
                    <li><a href="{{ get_url('archives/') }}">Archives</a></li>
                    <li><a href="{{ get_url('feed.xml') }}">Feed</a></li>
                </ul>
            </div>
            
<!--div class="module"><p>This is a convenient place to put a quick blurb about yourself and the purpose of this site.</p><p>This is also a good place to list any other sites you are on like <a href="https://github.com/">GitHub</a> and <a href="https://twitter.com/">Twitter</a>.</p><p><code>/_templates/layout.html#L26-30</code></p></div-->
            
            <div class="module">
                <p>Hola, soy Pável Ramos. Tengo 22 años, curso una licenciatura en negocios, apasionado a los sitios web y la evolución constante que tienen.</p>
                <p>Estoy trabajando en el desarrollo de unos proyectos en Internet, donde de vez en cuando me gano la vida.</p>
                <p>Puedes seguirme en:</p>
                    <li>twitter: <a href="https://twitter.com/pavelramos">@pavelramos</a></li>
                    <li>bitbucket: <a href="https://bitbucket.org/pavelramos">@pavelramos</a></li>
                    <li>facebook: <a href="https://facebook.com/pavelramos">@pavelramos</a></li>
            </div>

            <div id="footer">
                <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
            </div>
        </div>
        
        {% block breadcrumbs %}{% endblock %}
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
